<% if @user.errors.any? %>
	<%= @user.errors.count %> error happened
	<% @user.errors.full_messages.each do |message| %>
		<%= message %>
	<% end %>
<% end %>

<div class="container">
	<div class="row">
		<div class="col-5 mx-auto">
			<h1>User info</h1>
			<%= form_with model: @user, local: true do |f| %>
				<div class="form-group">
					<%= f.label :name %><br>
					<%= f.text_field :name %>
				</div>
				<div class="form-group">
					<label>Image</label><br>
					<%= f.attachment_field :profile_image %>
				</div>
				<div class="form-group">
					<%= f.label :introduction %><br>
					<%= f.text_area :introduction %>
				</div>
				<div class="form-group">
					<%= f.submit "Update User" %>
				</div>
			<% end %>
		</div>
	</div>
</div>

