<h2>User info</h2>
<div>
	<%= attachment_image_tag user, :profile_image, fallback: 'no_image.jpeg', size: "60x60" %>
</div>
<table class="table">
	<tbody>
		<tr>
			<td>name</td>
			<td><%= user.name %></td>
		</tr>
		<tr>
			<td>introduction</td>
			<td><%= user.introduction %></td>
		</tr>
	</tbody>
</table>
<div>
	<%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block" do %>
		<i class="fas fa-user-cog"></i>
	<% end %>
</div>

<h2>New book</h2>
<%= form_with model: book, local: true do |f| %>
	<div class="form-group">
		<%= f.label :title %><br>
		<%= f.text_field :title %>
	</div>
	<div class="form-group">
		<%= f.label :body %><br>
		<%= f.text_area :body %>
	</div>
	<div class="form-group">
		<%= f.submit "Create Book" %>
	</div>
<% end %>