<% if @book.errors.any? %>
	<%= @book.errors.count %> error happened
	<% @book.errors.full_messages.each do |message| %>
		<%= message %>
	<% end %>
<% end %>

<div class="container">
	<div class="row">
		<div class="col-5 mx-auto">
			<h1>Editing Book</h1>
			<%= form_with model: @book, local: true do |f| %>
				<div class="form-group">
					<%= f.label :title %><br>
					<%= f.text_field :title %>
				</div>
				<div class="form-group">
					<label>Opinion</label><br>
					<%= f.text_area :body %>
				</div>
				<div class="form-group">
					<%= f.submit "Update Book" %>
				</div>
			<% end %>

			<%= link_to "Show", book_path(@book) %>
			|
			<%= link_to "Back", books_path %>
		</div>
	</div>
</div>

